html {
	outline: none;
}

body {
	background-color:#f5f5f5;
	background-image:url(../images/bg.png);
	font-family:'Open Sans', sans-serif, Myriad Pro, Arial;
	background-repeat:repeat-x;
	margin:0;
	padding:0;
}

p {
	font-size:10pt;
}

#loading {
	display:none;
	/* padding-top:70px; */
	margin-top:10px;
	padding:3px;
	font-size:130%;
	position: absolute;
	top:0px;
	width:150px;
	left:525px;
	z-index:9999999;
	border:1px solid #74c0f8;
	background-color: #d0ebff;
	text-align:center;
}

a.active, a.visited, a {
	color:#4b4b4b;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

#hovered_over_node {
	display:none;
	opacity:0.9;
	padding:6px;
	background-color:#323232;
	color:#fff;
	text-align:left;
	position:relative;
	padding:14px;
	/*border:1px solid #cccccc;*/
	position:absolute;
	z-index:9999;
	font-size:80%;
	/*box-shadow:inset 0 0 10px #acacac;
	-moz-box-shadow:inset 0 0 10px #acacac;*/
}

.shadow {
}

/*fieldset {
	width:180px;
	border:1px solid black;
	margin-top:20px;
	position:relative;
	left:-3px;
}*/

fieldset legend {
	font-weight:bold;
}

fieldset label {
	display: inline-block;
}

button {
	margin-left:28px;
}

#node_name_container {
	position:relative;
	top:200px;
	left:5px;
	margin-top:30px;
	width:400px;
	height:60px;
	border:0px solid black;
	clear:both;
}

h1 {
	margin-top:0;
	font-size:36pt;
	font-family: 'Mystery Quest', cursive, Arial;
	padding-left:10px;
	font-weight:400;
	color: #db1818;
}

.content {
	width:900px;
	font-size:10pt;
	padding-bottom:15px;
}

.handle rect {
	fill: none;
	stroke: none;
	pointer-events: all;
	cursor: pointer;
}

.handle {
	fill: #000000;
}

#rhs_container {
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	padding-left:10px;
	padding-right:10px;
	width:273px;
	position:absolute;
	top:130px;
	height:1050px;
	left:990px;
	font-family:'Open Sans', sans-serif, Myriad Pro, Arial;
	background-image:url(../images/gradient_bg.png);
	background-position:-40px 115px;
	background-repeat:no-repeat;
}

#budget_overview {
	padding:10px;
	font-family: 'Open Sans', sans-serif, Myriad Pro, Arial;
	color:#6a6a6a;
	position:absolute;
	top:185px;
	left:20px;
	width:200px;
	height:700px;
	display:none;
}

#budget_overview .container {
	float:left;
	display:block;
	width:200px;
	height:18px;
	margin-bottom:10px;
	/*border-bottom:4px solid white; */
	position:relative;
	top:0;
	left:0;
}

.color_bar {
	float:left;
	display:none;
	background-color:white;
	width:200px;
	height:3px;
	margin-top:1px;
	position:absolute;
	top:1.3em;
	z-index:10;
}

.color_bar_proportional {
	float:left;
	background-color:white;
	width:60px;
	height:3px;
	margin-top:1px;
	position:absolute;
	top:1.3em;
	left:216px;
	z-index:10;
}

#budget_overview div label {
	font-size:0.7em;
	padding-bottom:3px;
	/*color:#6c6c6c;*/
	color:#000000;
	font-family:'Open Sans', sans-serif, Myriad Pro, Arial;
}

#budget_overview span {
	position:relative;
	top:-30px;
	left:220px;
	color:#3b3b3b;
	font-size:8pt;
}

#bg_circle {
	background-color: url(images/patern.png);
}

label {
	color:#3b3b3b;
	font-size:9pt;
}

#the_slice_im_on {
	color:#000000;
	font-family:'Open Sans', sans-serif, Myriad Pro, Arial;
	font-size:10pt;
	text-align:center;
	position:absolute;
	top:130px;
	left:460px;
	width:300px;
	height:50px;
	z-index:999;
}

.values_label {
	position:absolute;
	left:215px;
	top:5px;
	width: 80px;
}

#rhs_container label, #rhs_container select,
#submission_box label, #submission_box select
{
	font-family: 'Open Sans', sans-serif, "Myriad Pro", Arial, Helvetica;
	font-size:7pt;
	text-align:center;
	float:left;
	padding-right:14px;
}

#rhs_container .label_last,
#submission_box .label_last {
	font-family: 'Open Sans', sans-serif, "Myriad Pro", Arial, Helvetica;
	font-size:7pt;
	text-align:center;
	float:left;
	padding-right:0px;
}

#rhs_container p {
	 padding-right:0px;
}

#message {
	color:#054fe6;
	padding-top:10px;
	margin-left:36px;
	width:200px;
	height:40px;
	font-family:'Open Sans', sans-serif, 'Myriad Pro', Arial;
	font-size:12pt;
	text-align:left;
}

/*Styles for fuzz overlay & message box*/  
 #fuzz{ position:absolute; top:0; left:0; width:100%; z-index:100; background: url('fuzz.gif'); display:none; text-align:left; }  
  
   /*Message box, positioned in dead center of browser*/  
   .msgbox{ position:absolute; width:300px; height:200px; z-index:200; border:5px solid #222; background: #FFF; top: 50%; left: 50%; margin-top: -100px; margin-left: -150px; }  
      .msgbox img {border:none; margin:5px;}  
  
      /*The "X" in the upper right corner of msgbox*/  
      .close{ top:0px; float:rightright; }  
      
.dim {
	height:100%;
	width:100%;
	position:fixed;
	left:0;
	top:0;
	z-index:999999999 !important;
	background-color:black;
	filter: alpha(opacity=65); /* internet explorer */
	-khtml-opacity: 0.65;      /* khtml, old safari */
	-moz-opacity: 0.65;       /* mozilla, netscape */
	opacity: 0.65;           /* fx, safari, opera */
	display:none;
}

#intro_box {
	padding:30px;
	position:absolute;
	top: 50%;
	left: 50%;
	margin-top: -280px;
	margin-left: -380px;
	z-index:9999999999;
	background-color:#fff;
	width:700px;
	height:500px;
	display:none;
	background-image:url(../images/flag_full.jpg);
	text-shadow:#000 1px 1px 1px;
	background-size:100% 100%;
}

#intro_box p {
	font-size:14pt;
	color:#fff;
	/*text-shadow: #000000 1px 1px 1px;*/
}

#intro_box_content {
	font-family:'Open Sans', sans-serif, Myriad Pro, Arial;
	font-weight:300;
	color:#fff;
	background-color:rgba(0,0,0,0.5);
	padding:20px;
	width:660px;
	height:460px;
}

img#close {
	cursor:pointer;
}

#top_nav_bar a {
	color:#db1818;
	font-weight:bold;
}

#top_nav_bar {
	position:absolute;
	left:990px;
	top:55px;
	font-size:12pt;
	width:300px;
	color:white;
}

#top_nav_bar a,
#top_nav_bar_not_fixed a {
	color:#db1818;
	font-weight:bold;
}

#top_nav_bar_not_fixed {
	position:absolute;
	right:41px;
	top:55px;
	font-size:12pt;
	width:285px;
	color:white;
	text-align:center;
	clear:both;
}


#submission_box {
	position:fixed;
	z-index:9999999999;
	border:2px solid #e7d8ab;
	width:300px;
	height:380px;
	padding-left:18px;
	padding-top:10px;
	background-color:#f6f5e4;
	margin-top: -195px;
	margin-left: -159px;
	top: 50%;
	left: 50%;
	display:none;
}

#submission_pre_box {
	border:2px solid #e7d8ab;
	width:300px;
	height:56px;
	position:relative;
	z-index:1;
	left:-25px;
	padding-left:18px;
	padding-top:10px;
	background-color:#f6f5e4;
}

.receipt_line_item {
	line-height:102%;
	position:relative;
	padding-left:10px;
	top:60px;
	font-size:8pt;
	padding-top:5px;
}

#receipt_total {
	position:absolute;
	top:475px;
	left:130px;
	display:block;
	font-weight:bold;
	font-size:16px;
}

#wall_of_pies_content {
	width:1260px;
	font-size:10pt;
}

svg.minipie {
	width:180px;
	height:180px;
	position:relative;
	top:15px;
	left:32px;
	display:block;
	background-color:white
}

.minipie_container {
	float:left;
	width:240px;
	height:240px;
	text-align:center;
	font-size:9pt;
	border:1px solid black;
	margin:5px;
	position:relative;
	border:1px solid #cccccc;
	background-color:white;
	background-position:-10px -8px;
	background-repeat:no-repeat;
}

.full_comment_overlay {
	display:table-cell;
	vertical-align:middle;
	background-color:white;
	opacity:0.9;
	width:230px;
	height:110px;
	z-index:9999;
	position:relative;
	top:-180px;
	left:2px;
	color:#3b3b3b;
	font-size:120%;
}


@media screen and (max-device-width: 1024px) {
	#receipt_total {
		left:135px;
	}
}

@-moz-document url-prefix() {
    .full_comment_overlay {
		float:left;
		top:-180px;
		padding-top:10px;
	}
}

#loader {
	position:absolute;
	top:0px;
	left:220px;
	display:none;
}