html {
	outline: none;
}

body {
	background-color:#f5f5f5;
	font-family:Arial;
}

p {
	font-size:10pt;
}

#sunburst_container {
	margin-top:10px;
	position:absolute;
	top:100px;
	left:140px;
	width:800px;
	height:800px;
	display:none;
}

svg {
	width:800px;
	height:800px;
	position:absolute;
	top:-15px;
	left:130px;
}

path {
	cursor: pointer;
}

#loading {
	display:none;
	/* padding-top:70px; */
	margin-top:10px;
	padding:3px;
	font-size:130%;
	position: fixed;
	top:0px;
	width:150px;
	left:525px;
	z-index:9999999;
	border:1px solid #74c0f8;
	background-color: #d0ebff;
	text-align:center;
}

a.active, a.visited, a {
	color:#4b4b4b;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

#hovered_over_node {
	display:none;
	opacity:0.9;
	padding:6px;
	background-color:#f9f9f9;
	color:#000000;
	text-align:left;
	position:relative;
	padding:14px;
	/*border:1px solid #cccccc;*/
	position:absolute;
	z-index:9999;
	font-size:90%;
	
	box-shadow:inset 0 0 10px #acacac;
	-moz-box-shadow:inset 0 0 10px #acacac;
}

.shadow {
}

fieldset {
	width:180px;
	border:1px solid black;
	margin-top:20px;
	position:relative;
	left:-3px;
}

fieldset legend {
	font-weight:bold;
}

fieldset label {
	display: inline-block;
}

button {
	margin-left:28px;
}

#node_name_container {
	position:relative;
	top:200px;
	left:5px;
	margin-top:30px;
	width:400px;
	height:60px;
	border:0px solid black;
	clear:both;
}

h1 {
	 font-size:36pt;
	 font-family: 'Mystery Quest', cursive, Arial;
	 padding-left:10px;
}

.content {
	width:900px;
	font-size:10pt;
	padding-bottom:15px;
}

.handle rect {
	fill: none;
	stroke: none;
	pointer-events: all;
	cursor: pointer;
}

.handle {
	fill: #000000;
}

#rhs_container {
	border-left:1px solid #cccccc;
	padding-left:10px;
	width:272px;
	position:absolute;
	top:130px;
	height:700px;
	left:990px;
	font-family:Georgia, Times, Arial;
	/*background-image:url(../images/hands.jpg);
	background-position:bottom;
	background-repeat:no-repeat;*/
}

#budget_overview {
	font-family: Georgia, Times, Arial;
	color:#6a6a6a;
	position:absolute;
	top:140px;
	width:200px;
	height:700px;
}

#budget_overview div {
	float:left;
	display:block;
	width:200px;
	height:18px;
	margin-bottom:10px;
	border-bottom:4px solid white;
	position:relative;
	top:0;
	left:0;
}

#budget_overview div label {
	font-size:70%;
	padding-bottom:3px;
	color:#6c6c6c;
	font-family:Myriad Pro, Arial;
}

#budget_overview span {
	position:relative;
	top:-30px;
	left:220px;
	color:#3b3b3b;
	font-size:8pt;
}

#bg_circle {
	background-color: url(images/patern.png);
}

label {
	color:#3b3b3b;
	font-size:9pt;
}

#the_slice_im_on {
	color:#6c6c6c;
	font-family:Georgia, Times, Arial;
	text-align:center;
	position:absolute;
	top:125px;
	left:463px;
	width:300px;
	height:50px;
	z-index:999;
}

.values_label {
	position:absolute;
	left:215px;
	top:12px;
	width: 80px;
}

#rhs_container label, select {
	font-family: "Myriad Pro", Arial, Helvetica;
	font-size:7pt;
	text-align:center;
	float:left;
	padding-right:14px;
}

#rhs_container .label_last {
	font-family: "Myriad Pro", Arial, Helvetica;
	font-size:7pt;
	text-align:center;
	float:left;
	padding-right:0px;
}

#rhs_container p {
	 padding-right:20px;
}

#message {
	color:#054fe6;
	padding-top:10px;
	margin-left:36px;
	width:200px;
	height:40px;
	font-family:'Myriad Pro' Arial;
	font-size:12pt;
	text-align:left;
}